{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}
    {% block content %}



    <!-- productos -->
    <div id="centrado">
        <div class="mapa">
            <iframe src="https://www.google.com/maps/d/embed?mid=112kg7w_E2rtBOSWIzO1IZSWxMo0baMQ&ehbc=2E312F" width="640" height="480"></iframe>
        </div>
        <div class="leyenda">
            <div class="leyenda-item">
                <div class="cuadrado seguro"></div>
                <span>Seguro</span>
            </div>
            <div class="leyenda-item">
                <div class="cuadrado poco-seguro"></div>
                <span>Poco seguro</span>
            </div>
            <div class="leyenda-item">
                <div class="cuadrado peligroso"></div>
                <span>Peligroso</span>
            </div>
            <div class="leyenda-item">
                <div class="cuadrado vigilado"></div>
                <span>Vigilada</span>
            </div>
        </div>
    </div>
    {% if comunas %}
    <div>
        <div class="container-fluid">
            <div id="producto" class="centrado row">
                {% for comuna in comunas %}

         <!--     <div class="<col-sm-12 col-md-6 col-lg-4 col-xl-3 stcard1 ">-->

                <div class="col-3">
					<div class="card text-bg-dark border-info mb-3" style="width: 18rem; margin:20px; height:32em;">
                        <img src="/media/{{ comuna.imagen }}" class="card-img-top" >
                        <div class="card-body">
                            <h4 class="card-title">{{ comuna.nombre }}</h4>
                            <p class="card-text">{{ comuna.descripcion }}</p>
                            <p class="text-success ">{{ comuna.clase}}</p>
                            {% comment %} <a id="cbp" href="{% url 'ficha' servicio.id %}"  class="btn btn-primary csc">Ver servicio.</a> {% endcomment %}
                        </div>
					</div>
				</div>

                {% endfor %}
            </div>
        </div>
    </div>

    {% else %}
        <h2>No se encontraron productos</h2>
    {% endif %} 

    {% endblock content %}
    {% block script %}
        <script src="{% static 'core/js/mapa.js' %}"></script>
    {% endblock script%}
</body>